.row {
	width: 100%;
}

.responsive {
	width: 100%;
	height: auto;
	max-height: 640px;
}

.explore {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-shadow: 2px 2px rgb(180, 185, 196);
}

.explore p {
	font-size: 3em;
}

#random:hover {
	font-size: 3.5em;
}

#search{
	margin-bottom: 10%;
	font-size: 5em;
	color: blue;
}

#search:hover {
	font-size: 5.5em;
}

#query{
	display: none;
	border: 5px solid blue;
	border-radius: 10px;
	outline: none;
}

.pgLink{
	display: block;
	height: auto;
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgb(181,185,191);
	color: blue;
}

a, a:hover{
	color: black;
	text-decoration: none;
}

@media (min-width: 650px) and (max-width: 767.98px) {
	.explore {
		margin-top: 5%;
	}
}

@media (max-width: 649.98px) {
	.row {
		margin-left: 2%;
	}
	.explore {
		margin-top: 5%;
	}
}
